* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fefae0;
    --second-bg-color: #d1daba;
    --text-color: rgb(0, 0, 0);
    --second-color: rgb(49, 49, 49);
    --main-color: #9c6d3d;
    --big-font: 4rem;
    --h2-font: 2rem;
    --p-font: 0.9rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


/*header*/

header.sticky {
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

span {
    color: var(--main-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: 15px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover {
    color: var(--main-color);
}

.navlist a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}


/*home*/

section {
    padding: 160px 15% 120px;
}

.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.slide {
    margin-bottom: 20px;
}

.one {
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}

.two {
    display: inline-block;
    color: var(--second-color);
    font-size: 20x;
    font-weight: 500;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
}

.home-text h3 {
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
    width: 60%;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.btn:hover {
    transform: scale(0.9);
}

.home-img {
    display: flex;
    align-items: center;
    max-width: 400px;
    height: 30px;
    border: 10px;
}

.home-img img {
    width: 100%;
    border-radius: 9px;
}


/*about*/

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    background: var(--second-bg-color);
}

.about-img {
    display: flex;
    align-items: center;
    max-width: 400px;
    height: 30px;
    border: 10px;
}

.about-img img {
    width: 100%;
    border-radius: 9px;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.about-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}


/*services*/

.services {
    background: var(--bg-color);
}

.main-text {
    text-align: center;
}

.main-text p {
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box {
    background: var(--second-bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}

.s-icons i {
    font-size: 32px;
    margin-bottom: 20px;
}

.box h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.box p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}

.porcent {
    text-align: right;
    margin-bottom: 1px;
}

.load {
    height: 20px;
    background-color: #CCC;
    position: relative;
}

.box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}


/*barra1*/

.loaded1 {
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
    animation: progress-animation1 5s infinite;
}

@keyframes progress-animation1 {
    0% {
        width: 0%;
    }
    70% {
        width: 70%
    }
}


/*barra2*/

.loaded2 {
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
    animation: progress-animation2 5s infinite;
}

@keyframes progress-animation2 {
    0% {
        width: 0%;
    }
    40% {
        width: 40%
    }
}


/*barra3*/

.loaded3 {
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
    animation: progress-animation3 5s infinite;
}

@keyframes progress-animation3 {
    0% {
        width: 0%;
    }
    20% {
        width: 20%
    }
}